# COGS 108 - Data Checkpoint

# Names

- Chance Kang
- Lobna Kebir
- Brian Lu
- Sia Sheth
- Aaron Wixson

<a id='research_question'></a>
# Research Question

In a global context, out of the following economical factors related to people’s economic security, which one most strongly influences happiness? 

 * GDP (Gross domestic product, current prices) 
 * Investment (Total investment)
 * Savings (Gross national savings) 
 * CPI (Inflation, average consumer prices)
 * VIGS (Volume of imports of goods and services) 
 * VIG (Volume of Imports of goods)
 * VEGS (Volume of exports of goods and services) 
 * VEG (Volume of exports of goods)
 * Population
 * Revenue (General government revenue) 
 * Expenditure (General government total expenditure)
 * Debt (General government gross debt)
 * Balance (Current account balance) 
 * Unemployment 

Here, happiness is defined by the [World Happiness Report](https://worldhappiness.report/about/), and they use factors such as social support, life expectancy at birth, freedom of choice, confidence in government, and perception of corruption to determine happiness. An in depth econometric analysis of the impact of money categories on happiness, building upon and updating current research.

# Dataset(s)


### International Monetary Fund World Economic Outlook Database
- Link to the dataset: [https://www.imf.org/en/Publications/WEO/weo-database/2023/April/select-subjects?c=512,914,612,171,614,311,213,911,314,193,122,912,313,419,513,316,913,124,339,638,514,218,963,616,223,516,918,748,618,624,522,622,156,626,628,228,924,233,632,636,634,238,662,960,423,935,128,611,321,243,248,469,253,642,643,939,734,644,819,172,132,646,648,915,134,652,174,328,258,656,654,336,263,268,532,944,176,534,536,429,433,178,436,136,343,158,439,916,664,826,542,967,443,917,544,941,446,666,668,672,946,137,546,674,676,548,556,678,181,867,682,684,273,868,921,948,943,686,688,518,728,836,558,138,196,278,692,694,962,142,449,564,565,283,853,288,293,566,964,182,359,453,968,922,714,862,135,716,456,722,942,718,724,576,936,961,813,726,199,733,184,524,361,362,364,732,366,144,146,463,528,923,738,578,537,742,866,369,744,186,925,869,746,926,466,112,111,298,927,846,299,582,487,474,754,698](https://www.imf.org/en/Publications/WEO/weo-database/2023/April/select-subjects?c=512,914,612,171,614,311,213,911,314,193,122,912,313,419,513,316,913,124,339,638,514,218,963,616,223,516,918,748,618,624,522,622,156,626,628,228,924,233,632,636,634,238,662,960,423,935,128,611,321,243,248,469,253,642,643,939,734,644,819,172,132,646,648,915,134,652,174,328,258,656,654,336,263,268,532,944,176,534,536,429,433,178,436,136,343,158,439,916,664,826,542,967,443,917,544,941,446,666,668,672,946,137,546,674,676,548,556,678,181,867,682,684,273,868,921,948,943,686,688,518,728,836,558,138,196,278,692,694,962,142,449,564,565,283,853,288,293,566,964,182,359,453,968,922,714,862,135,716,456,722,942,718,724,576,936,961,813,726,199,733,184,524,361,362,364,732,366,144,146,463,528,923,738,578,537,742,866,369,744,186,925,869,746,926,466,112,111,298,927,846,299,582,487,474,754,698)  
- Number of observations: 2528   
- Description: Dataset contains record of various economic indicators reported by countries.  
    The following variables were extracted:
    1. Gross domestic product, current prices 
    2. Total investment (R) 
    3. Gross national savings (R)
    4. Inflation, average consumer prices
    5. Volume of imports of goods and services 
    6. Volume of Imports of goods
    7. Volume of exports of goods and services
    8. Volume of exports of goods
    9. Population
    10. General government revenue (R) 
    11. General government total expenditure (R)
    12. General government gross debt (R)
    13. Balance Current account balance (R)
    14. Unemployment rate (R)
    15. Country 
    16. Year 
    
    * GDP, current prices are kept for constant GDP adjusts for inflation and methods of adjustments differ by reporting country.
    * Marked (R) are values recorded percent to GDP, hence actual U.S. Dollar value can be obtained by mulitplying the rate by the recorded GDP. 
    * Variables 5 ~ 8 are recorded in percent growth (-,+). 

### World Happiness Report 2023 Data
- Link to the dataset: [https://happiness-report.s3.amazonaws.com/2023/DataForTable2.1WHR2023.xls](https://happiness-report.s3.amazonaws.com/2023/DataForTable2.1WHR2023.xls)  
- Number of observations: 2200  
- Description: Dataset contains Happiness Score (LadderScore) of countries in UN and variables used to derive the score from 2006 to 2022.   
    The following variables are extracted:
    1. Ladder Score
    2. PositiveAffect
    3. NegativeAffect
    4. Country
    5. Year

### Data Set Merging

Process:
1. Find common country names from both sets of data
2. Merge into one data frame with common country names and only include data from 2012 to 2022
3. Remove rows with any missing data

## Summary

`data` is the name of unified datafrime. It includes the following variables:
1. Country
    - includes: Albania, Algeria, Argentina, Armenia, Austria, Azerbaijan, Bahrain, Belarus, Belgium, Belize, Bhutan, Bolivia, Bosnia and Herzegovina, Bulgaria, Chile, Colombia, Costa Rica, Croatia, Cyprus, Czech Republic, Denmark, Dominican Republic, Ecuador, Egypt, El Salvador, Estonia, Finland, Georgia, Greece, Honduras, Hong Kong SAR, Hungary, Iceland, Indonesia, Iran, Ireland, Israel, Jamaica, Jordan, Kazakhstan, Kosovo, Kuwait, Kyrgyzstan, Latvia, Luxembourg, Malaysia, Malta, Mauritius, Mongolia, Morocco, Netherlands, New Zealand, Nicaragua, Nigeria, Norway, Pakistan, Panama, Paraguay, Peru, Philippines, Poland, Portugal, Romania, Saudi Arabia, Serbia, Singapore, Slovakia, Slovenia, South Africa, Sri Lanka, Sweden, Switzerland, Taiwan Province of China, Thailand, Tunisia, Turkiye, Uruguay, Uzbekistan, Venezuela, Vietnam
2. Year
    - includes: 2012 - 2022
3. LifeLadder
    - Life Ladder from Happiness Report
    - Cantril Ladder which asks respondents to think of a ladder, with the best possible life for them being a 10 and the worst possible life being a 0
4. PossitiveAffect
    - Possitive Affect from Happiness Report
    - The average of previous-day affect measures for laughter, enjoyment, and interest
5. NegativeAffect
    - Negative Affect from Happiness Report
    - The average of previous-day affect measures for worry, sadness, and anger
6. GDP
    - Gross domestic product, current prices from WEO
    - Values are based upon GDP in national currency converted to U.S. dollars using market exchange rates (yearly average)
7. Investment (R)
    - Total investment from WEO
    - Expressed as a ratio of total investment in current local currency and GDP in current local currency
8. Savings (R)
    - Gross national savings 
    - Gross national saving is gross disposable income less final consumption expenditure after taking account of an adjustment for pension funds.
9. CPI 
    - Inflation, average consumer prices from WEO
    - A consumer price index (CPI) measures changes in the prices of goods and services that households consume
10. VIGS (P)
    - Volume of imports of goods and services from WEO
    - The goods and services and their prices are held constant, therefore changes are due to changes in quantities only
11. VIG (P)
    - Volume of Imports of goods from WEO
    - Same as VIGS
12. VEGS (P)
    - Volume of exports of goods and services from WEO
    - Same as VIGS
13. VEG (P)
    - Volume of exports of goods from WEO
    - Same as VIGS
14. Population 
    - Population from WEO
    - Units in Persons of Millions
15. Revenue (R)
    - General government revenue from WEO
    - Revenue consists of taxes, social contributions, grants receivable, and other revenue
    - Revenue increases government's net worth, which is the difference between its assets and liabilities
16. Expenditure (R)
    - General government total expenditure from WEO
    - Total expenditure consists of total expense and the net acquisition of nonfinancial assets
17. Debt (R)
    - General government gross debt from WEO
    - Gross debt consists of all liabilities that require payment or payments of interest and/or principal by the debtor to the creditor at a date or dates in the future
18. Balance (R)
    - Current account balance from WEO
    - Current account is all transactions other than those in financial and capital items. The major classifications are goods and services, income and current transfers
19. Unemployment 
    - Units in percent of total labor force
    - The OECD harmonized unemployment rate gives the number of unemployed persons as a percentage of the labor force (the total number of people employed plus unemployed)
    - Unemployed workers are those who are currently not working but are willing and able to work for pay, currently available to work, and have actively searched for work


(R) - Percent of GDP
(P) - Percent change

# Setup

In [2]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None #suppressing SettingWithCopyWarning: used to not set a value

# Data Cleaning

Describe your data cleaning steps here.

In [3]:
years = ['2012','2013','2014','2015','2016','2017',
'2018','2019','2020','2021','2022'] # years to be observed

#reading csv
weo = pd.read_csv('WEO.csv')
happiness = pd.read_csv('Happiness.csv')

#using set to extract common names
weo_country = set(weo["Country"].unique().tolist())
happiness_country = set(happiness["Country name"].unique().tolist())

common_country = weo_country & happiness_country
weo_not = weo_country - common_country
happiness_not = happiness_country - common_country

print(sorted(happiness_not))
print(sorted(weo_not))

['Congo (Brazzaville)', 'Congo (Kinshasa)', 'Cuba', 'Czechia', 'Gambia', 'Hong Kong S.A.R. of China', 'Iran', 'Ivory Coast', 'Kyrgyzstan', 'Laos', 'Slovakia', 'Somaliland region', 'South Korea', 'State of Palestine', 'Syria', 'Turkiye']
['Andorra', 'Antigua and Barbuda', 'Aruba', 'Barbados', 'Brunei Darussalam', 'Cabo Verde', 'Czech Republic', "CÙte d'Ivoire", 'Democratic Republic of the Congo', 'Dominica', 'Equatorial Guinea', 'Eritrea', 'Fiji', 'Grenada', 'Guinea-Bissau', 'Hong Kong SAR', 'Islamic Republic of Iran', 'Kiribati', 'Korea', 'Kyrgyz Republic', 'Lao P.D.R.', 'Macao SAR', 'Marshall Islands', 'Micronesia', 'Nauru', 'Palau', 'Papua New Guinea', 'Puerto Rico', 'Republic of Congo', 'Samoa', 'San Marino', 'Seychelles', 'Slovak Republic', 'Solomon Islands', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'S„o TomÈ and PrÌncipe', 'The Bahamas', 'The Gambia', 'Timor-Leste', 'Tonga', 'Tuvalu', 'T¸rkiye', 'Vanuatu', 'West Bank and Gaza']

Above is the lists of countries that are not common from both sets of data. 
First is from the Happiness Report and second is from the WEO.

Since some country names are reported different in each of the organizations, we manually matched such countries: 

* Congo (Brazzaville) -> Republic of Congo
* Congo (Kinshasa) -> Democratic Republic of the Congo
* Czechia -> Czech Republic
* Hong Kong S.A.R of China -> Hong Kong SAR
* Iran -> Iran (from Islamic Republic of Iran)
* Kyrgyzstan -> Kyrgyzstan (from Kyrgyz Republic)
* Laos -> Laos (from Lao P.D.R)
* Slovakia -> Slovakia (from Slovak Republic)
* South Korea -> South Korea (from Korea)
* Turkiye -> Turkiye (from T¸rkiye)
* Cuba, Gambia, Ivory Coast, Somaliland region, State of Palestine, Syria - > removed

In [4]:
#replacing left to right
happiness['Country name'].replace(['Congo (Brazzaville)', 'Congo (Kinshasa)', 'Czechia', 'Hong Kong S.A.R. of China'], 
            ['Republic of Congo', 'Democratic Republic of the Congo', 'Czech Republic', 'Hong Kong SAR'], inplace = True)
#replacing right to (from [name])
weo['Country'].replace(['Islamic Republic of Iran', 'Kyrgyz Republic', 'Lao P.D.R.', 'Slovak Republic', 'Korea', 'T¸rkiye'],
                 ['Iran', 'Kyrgyzstan', 'Laos', 'Slovakia', 'South Korea', 'Turkiye'], inplace = True)

#checking
weo_country = set(weo["Country"].unique().tolist())
happiness_country = set(happiness["Country name"].unique().tolist())
common_country = list(sorted(weo_country & happiness_country))
print(common_country)

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Congo', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan Province of China', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

The above is the list of countries that are common from both of the lists. 

Note that these countries may not have all entries for variables we are observing and are subjected to be excluded in the later process.

From here on, a single data frame: `data` containing entries from both dataframe will be constructed.

In [5]:
#creating unified data frame: data

#dropping other variables
data = happiness[['Country name', 'year', 'Life Ladder', 'Positive affect', 'Negative affect']] 
#only keeping those after 2012
data.drop(data[data['year'] < 2012].index, inplace = True) 
#numerical year value is no longer needed / potential to influence other num vals
data['year'] = data['year'].apply(str) 

#adding weo variables to data
weo_vars = weo['Subject Descriptor'].unique().tolist()
for var in weo_vars:
    data[var] = np.nan
    
#copying of weo values to data
weo = weo.drop(columns = ['Subject Notes','Units', 'Scale' , 'Country/Series-specific Notes', 'Estimates Start After'])
index = data.index #optain all indices of data
for i in index:
    country = data.loc[i,'Country name'] #get country name from index i
    year = data.loc[i,'year'] #year from index i
    for var in weo_vars: 
        if country in common_country and year in years:
            #accessing values of variables from weo
            temp = weo.loc[(weo['Country'] == country)&(weo['Subject Descriptor'] == var) , year] 
            if temp.empty == False:
                #writing the values of variables from weo to data
                data.at[i,var] = temp[temp.index[0]]

The `data` variable now contains all information from two tables from the years 2012 - 2022 with common countries. 

Some entries of WEO report is missing and are indicated with `string` object `'na'`. 

The following is the cleaning of all invalid inputs.

In [6]:
#'na' to 'NaN' along with changing values to float of WEO variable columns
cols = data.columns.drop(['Country name', 'year'])
data[cols] = data[cols].replace(',','', regex=True)
data[cols] = data[cols].apply(pd.to_numeric, errors='coerce')

#dataNA: with missing data for EDA
dataNa = data.copy()

#dropping nans
data = data.dropna()

#index reset
data.reset_index(drop=True, inplace=True)

#column renaming
data.columns = [ 'Country', 'Year', 'LifeLadder', 'PositiveAffect' , 'NegativeAffect',
              'GDP', 'Investment','Savings','CPI','VIGS','VIG','VEGS', 
              'VEG', 'Population', 'Revenue','Expenditure','Debt','Balance','Unemployment']
dataNa.columns = [ 'Country', 'Year', 'LifeLadder', 'PositiveAffect' , 'NegativeAffect',
              'GDP', 'Investment','Savings','CPI','VIGS','VIG','VEGS', 
              'VEG', 'Population', 'Revenue','Expenditure','Debt','Balance','Unemployment']

In [7]:
data.sample(5)

,Country,Year,LifeLadder,PositiveAffect,NegativeAffect,GDP,Investment,Savings,CPI,VIGS,VIG,VEGS,VEG,Population,Revenue,Expenditure,Debt,Balance,Unemployment
717,Romania,2017,6.090,0.632,0.231,210.529,23.935,20.813,113.977,11.393,9.360,7.851,8.555,19.644,28.163,31.019,37.107,-3.122,6.092
670,Peru,2013,5.783,0.741,0.390,202.584,25.910,21.096,111.840,3.818,3.818,-3.366,-3.366,30.475,22.238,21.504,19.914,-4.814,5.945
285,Estonia,2018,6.091,0.730,0.163,30.639,28.030,28.905,108.045,5.928,5.029,2.899,0.844,1.322,38.720,39.273,8.204,0.876,5.371
382,Indonesia,2012,5.368,0.764,0.229,919.002,35.072,32.415,74.807,15.752,15.752,-1.018,3.451,245.425,17.249,18.836,22.955,-2.657,6.140
675,Peru,2018,5.680,0.783,0.380,226.795,22.364,21.111,129.012,1.359,1.359,1.631,1.631,32.162,19.287,21.274,26.018,-1.253,6.700

In [8]:
data.describe()

,LifeLadder,PositiveAffect,NegativeAffect,GDP,Investment,Savings,CPI,VIGS,VIG,VEGS,VEG,Population,Revenue,Expenditure,Debt,Balance,Unemployment
count,957.000000,957.000000,957.000000,957.000000,957.000000,957.000000,9.570000e+02,957.000000,957.000000,957.000000,957.000000,957.000000,957.000000,957.000000,957.000000,957.000000,957.000000
mean,6.023822,0.673699,0.261394,862.806585,24.233908,23.515624,3.637791e+11,3.612152,3.363675,3.795066,3.483728,51.427169,32.123559,34.966494,59.512265,-0.785276,8.273465
std,0.878277,0.103091,0.077786,2561.397406,6.696299,8.009748,3.428097e+12,9.336150,9.136029,9.997717,8.914282,149.661064,11.401578,10.968666,37.705957,6.602507,5.635202
min,3.559000,0.297000,0.083000,1.784000,5.111000,-3.957000,4.019400e+01,-50.061000,-50.061000,-43.078000,-43.078000,0.320000,5.117000,9.761000,0.055000,-43.825000,0.700000
25%,5.381000,0.594000,0.204000,46.607000,20.030000,18.282000,9.932500e+01,-0.127000,-0.670000,0.260000,-0.519000,5.128000,23.633000,27.066000,36.629000,-4.092000,4.797000
50%,6.007000,0.698000,0.253000,215.681000,23.272000,22.873000,1.049090e+02,3.868000,3.564000,3.707000,3.180000,10.554000,31.937000,35.429000,51.929000,-1.216000,6.617000
75%,6.648000,0.753000,0.308000,535.328000,26.600000,27.866000,1.317980e+02,8.094000,7.640000,7.811000,6.888000,46.300000,40.342000,42.657000,75.927000,2.637000,9.835000
max,7.889000,0.884000,0.552000,25464.480000,56.417000,58.697000,4.196422e+13,48.744000,42.502000,84.109000,64.411000,1412.600000,71.975000,69.920000,261.289000,45.462000,35.300000