# COGS 108 - Data Checkpoint

# Names

- Chance Kang
- Lobna Kebir
- Brian Lu
- Sia Sheth
- Aaron Wixson

<a id='research_question'></a>
# Research Question

In a global context, which economic indicator most strongly influences happiness, out of the following economical factors related to people’s economic security? 

 * GDP (Gross domestic product, current prices) 
 * Investment (Total investment) (R) 
 * Savings (Gross national savings) (R)
 * CPI (Inflation, average consumer prices)
 * VIGS (Volume of imports of goods and services) 
 * VIG (Volume of Imports of goods)
 * VEGS (Volume of exports of goods and services) 
 * VEG (Volume of exports of goods)
 * Population
 * Revenue (General government revenue) (R) 
 * Expenditure (General government total expenditure) (R)
 * Debt (General government gross debt) (R)
 * Balance (Current account balance) (R)
 * Unemployment (R)

Here, happiness is defined by the [World Happiness Report](https://worldhappiness.report/about/), and they use factors such as social support, life expectancy at birth, freedom of choice, confidence in government, and perception of corruption to determine happiness. An in depth econometric analysis of the impact of money categories on happiness, building upon and updating current research.

# Dataset(s)


### International Monetary Fund World Economic Outlook Database
- Link to the dataset: [https://www.imf.org/en/Publications/WEO/weo-database/2023/April/select-subjects?c=512,914,612,171,614,311,213,911,314,193,122,912,313,419,513,316,913,124,339,638,514,218,963,616,223,516,918,748,618,624,522,622,156,626,628,228,924,233,632,636,634,238,662,960,423,935,128,611,321,243,248,469,253,642,643,939,734,644,819,172,132,646,648,915,134,652,174,328,258,656,654,336,263,268,532,944,176,534,536,429,433,178,436,136,343,158,439,916,664,826,542,967,443,917,544,941,446,666,668,672,946,137,546,674,676,548,556,678,181,867,682,684,273,868,921,948,943,686,688,518,728,836,558,138,196,278,692,694,962,142,449,564,565,283,853,288,293,566,964,182,359,453,968,922,714,862,135,716,456,722,942,718,724,576,936,961,813,726,199,733,184,524,361,362,364,732,366,144,146,463,528,923,738,578,537,742,866,369,744,186,925,869,746,926,466,112,111,298,927,846,299,582,487,474,754,698](https://www.imf.org/en/Publications/WEO/weo-database/2023/April/select-subjects?c=512,914,612,171,614,311,213,911,314,193,122,912,313,419,513,316,913,124,339,638,514,218,963,616,223,516,918,748,618,624,522,622,156,626,628,228,924,233,632,636,634,238,662,960,423,935,128,611,321,243,248,469,253,642,643,939,734,644,819,172,132,646,648,915,134,652,174,328,258,656,654,336,263,268,532,944,176,534,536,429,433,178,436,136,343,158,439,916,664,826,542,967,443,917,544,941,446,666,668,672,946,137,546,674,676,548,556,678,181,867,682,684,273,868,921,948,943,686,688,518,728,836,558,138,196,278,692,694,962,142,449,564,565,283,853,288,293,566,964,182,359,453,968,922,714,862,135,716,456,722,942,718,724,576,936,961,813,726,199,733,184,524,361,362,364,732,366,144,146,463,528,923,738,578,537,742,866,369,744,186,925,869,746,926,466,112,111,298,927,846,299,582,487,474,754,698)  
- Number of observations: 2528   
- Description: Dataset contains record of various economic indicators reported by countries.  
    The following variables were extracted:
    1. Gross domestic product, current prices 
    2. Total investment (R) 
    3. Gross national savings (R)
    4. Inflation, average consumer prices
    5. Volume of imports of goods and services 
    6. Volume of Imports of goods
    7. Volume of exports of goods and services
    8. Volume of exports of goods
    9. Population
    10. General government revenue (R) 
    11. General government total expenditure (R)
    12. General government gross debt (R)
    13. Balance Current account balance (R)
    14. Unemployment rate (R)
    15. Country 
    16. Year 
    
    * GDP, current prices are kept for constant GDP adjusts for inflation and methods of adjustments differ by reporting country.
    * Marked (R) are values recorded percent to GDP, hence actual U.S. Dollar value can be obtained by mulitplying the rate by the recorded GDP. 
    * Variables 5 ~ 8 are recorded in percent growth (-,+). 

### World Happiness Report 2023 Data
- Link to the dataset: [https://happiness-report.s3.amazonaws.com/2023/DataForTable2.1WHR2023.xls](https://happiness-report.s3.amazonaws.com/2023/DataForTable2.1WHR2023.xls)  
- Number of observations: 2200  
- Description: Dataset contains Happiness Score (LadderScore) of countries in UN and variables used to derive the score from 2006 to 2022.   
    The following variables are extracted:
    1. Ladder Score
    2. PositiveAffect
    3. NegativeAffect
    4. Country
    5. Year

### Data Set Merging

Process:
1. Find common country names from both sets of data
2. Merge into one data frame with common country names and only include data from 2012 to 2022
3. Remove rows with any missing data

# Setup

In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

# Data Cleaning

Describe your data cleaning steps here.

In [2]:
years = ['2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022'] # years to be observed

#reading csv
weo = pd.read_csv('WEO.csv')
happiness = pd.read_csv('Happiness.csv')

#using set to extract common names
weo_country = set(weo["Country"].unique().tolist())
happiness_country = set(happiness["Country name"].unique().tolist())

common_country = weo_country & happiness_country
weo_not = weo_country - common_country
happiness_not = happiness_country - common_country

print(sorted(happiness_not))
print(sorted(weo_not))

['Congo (Brazzaville)', 'Congo (Kinshasa)', 'Cuba', 'Czechia', 'Gambia', 'Hong Kong S.A.R. of China', 'Iran', 'Ivory Coast', 'Kyrgyzstan', 'Laos', 'Slovakia', 'Somaliland region', 'South Korea', 'State of Palestine', 'Syria', 'Turkiye']
['Andorra', 'Antigua and Barbuda', 'Aruba', 'Barbados', 'Brunei Darussalam', 'Cabo Verde', 'Czech Republic', "CÙte d'Ivoire", 'Democratic Republic of the Congo', 'Dominica', 'Equatorial Guinea', 'Eritrea', 'Fiji', 'Grenada', 'Guinea-Bissau', 'Hong Kong SAR', 'Islamic Republic of Iran', 'Kiribati', 'Korea', 'Kyrgyz Republic', 'Lao P.D.R.', 'Macao SAR', 'Marshall Islands', 'Micronesia', 'Nauru', 'Palau', 'Papua New Guinea', 'Puerto Rico', 'Republic of Congo', 'Samoa', 'San Marino', 'Seychelles', 'Slovak Republic', 'Solomon Islands', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'S„o TomÈ and PrÌncipe', 'The Bahamas', 'The Gambia', 'Timor-Leste', 'Tonga', 'Tuvalu', 'T¸rkiye', 'Vanuatu', 'West Bank and Gaza']

Above is the lists of countries that are not common from both sets of data. 
First is from the Happiness Report and second is from the WEO.
Since some country names are reported different in each of the organization, we will manually hand pick these countries: 

* Congo (Brazzaville) -> Republic of Congo
* Congo (Kinshasa) -> Democratic Republic of the Congo
* Czechia -> Czech Republic
* Hong Kong S.A.R of China -> Hong Kong SAR
* Iran -> Iran (from Islamic Republic of Iran)
* Kyrgyzstan -> Kyrgyzstan (from Kyrgyz Republic)
* Laos -> Laos (from Lao P.D.R)
* Slovakia -> Slovakia (from Slovak Republic)
* South Korea -> South Korea (from Korea)
* Turkiye -> Turkiye (from T¸rkiye)
* Cuba, Gambia, Ivory Coast, Somaliland region, State of Palestine, Syria - > removed

In [3]:
#replacing left to right
happiness['Country name'].replace(['Congo (Brazzaville)', 'Congo (Kinshasa)', 'Czechia', 'Hong Kong S.A.R. of China'], 
            ['Republic of Congo', 'Democratic Republic of the Congo', 'Czech Republic', 'Hong Kong SAR'], inplace = True)
#replacing right to (from [name])
weo['Country'].replace(['Islamic Republic of Iran', 'Kyrgyz Republic', 'Lao P.D.R.', 'Slovak Republic', 'Korea', 'T¸rkiye'],
                 ['Iran', 'Kyrgyzstan', 'Laos', 'Slovakia', 'South Korea', 'Turkiye'], inplace = True)

#checking
weo_country = set(weo["Country"].unique().tolist())
happiness_country = set(happiness["Country name"].unique().tolist())
common_country = list(sorted(weo_country & happiness_country))
print(common_country)

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Congo', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan Province of China', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

The above is the list of countries that will be analyzed. From here on, a single data frame `data` containing both

In [4]:
#creating unified data frame: data
data = happiness[['Country name', 'year', 'Life Ladder', 'Positive affect', 'Negative affect']] #dropping other variables
data.drop(data[data['year'] < 2012].index, inplace = True) #only keeping those after 2012
data['year'] = data['year'].apply(str) #numerical year value is no longer needed / potential to influence other num vals

#adding weo variables to data
weo_vars = weo['Subject Descriptor'].unique().tolist()
for var in weo_vars:
    data[var] = np.nan
    
#copying of weo values to data
weo = weo.drop(columns = ['Subject Notes','Units', 'Scale' , 'Country/Series-specific Notes', 'Estimates Start After'])
index = data.index #optain all indices of data
for i in index:
    country = data.loc[i,'Country name'] #object
    year = data.loc[i,'year'] #object
    for var in weo_vars: #object
        if country in common_country and year in years:
            temp = weo.loc[(weo['Country'] == country)&(weo['Subject Descriptor'] == var) , year]
            if temp.empty == False:
                data.at[i,var] = temp[temp.index[0]]

The `data` variable now contains all information from two tables from the years 2012 - 2022 with common countries. Some entries of WEO report is missing and were indicated with `string` object `'na'`. The following is the cleaning of all invalid inputs.

In [5]:
#'na' to 'NaN' along with changing values to float
cols = data.columns.drop(['Country name', 'year'])
data[cols] = data[cols].apply(pd.to_numeric, errors='coerce')

#dropping nans
data = data.dropna()

#index reset
data.reset_index(drop=True, inplace=True)

#column renaming
data.columns = [ 'Country', 'Year', 'LifeLadder', 'PositiveAffect' , 'NegativeAffect',
              'GDP', 'Investment','Savings','CPI','VIGS','VIG','VEGS', 
              'VEG', 'Population', 'Revenue','Expenditure','Debt','Balance','Unemployment']

In [6]:
data.head()

,Country,Year,LifeLadder,PositiveAffect,NegativeAffect,GDP,Investment,Savings,CPI,VIGS,VIG,VEGS,VEG,Population,Revenue,Expenditure,Debt,Balance,Unemployment
0,Albania,2012,5.510,0.553,0.271,12.324,29.824,19.674,94.783,-7.608,-5.197,-0.409,23.234,2.900,24.789,28.229,62.144,-10.202,13.4
1,Albania,2013,4.551,0.541,0.338,12.784,27.491,16.827,96.608,-0.617,-1.310,8.286,26.685,2.895,23.977,29.193,70.391,-9.253,15.9
2,Albania,2014,4.814,0.573,0.335,13.246,27.288,13.361,98.167,5.419,6.114,3.313,-6.205,2.889,26.272,31.729,71.992,-10.797,17.5
3,Albania,2015,4.607,0.579,0.350,11.389,26.237,15.804,100.000,0.072,2.161,5.254,4.292,2.881,26.440,30.758,73.716,-8.609,17.1
4,Albania,2016,4.511,0.567,0.322,11.862,25.470,16.796,101.287,8.269,9.385,10.316,-0.573,2.876,27.642,29.139,73.324,-7.572,15.2

In [7]:
data.describe()

,LifeLadder,PositiveAffect,NegativeAffect,GDP,Investment,Savings,CPI,VIGS,VIG,VEGS,VEG,Population,Revenue,Expenditure,Debt,Balance,Unemployment
count,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000,771.000000
mean,5.968363,0.671498,0.263817,219.966346,24.441437,23.566118,135.305315,4.027429,3.690104,4.118195,3.747952,23.460494,31.389645,34.015018,53.996931,-0.948911,8.572732
std,0.893949,0.108761,0.081499,226.352593,6.680889,7.947953,93.045971,9.265745,9.087247,10.495230,9.287153,39.409880,11.722681,10.956509,31.033564,7.048594,5.804103
min,3.559000,0.297000,0.083000,1.784000,11.892000,-3.957000,40.194000,-29.230000,-25.916000,-39.078000,-29.748000,0.320000,5.117000,9.761000,0.055000,-43.825000,0.700000
25%,5.311500,0.583000,0.203000,37.499000,20.110000,18.159000,99.128000,-0.184500,-0.807000,0.092500,-0.802000,4.298500,22.350000,25.518000,35.497000,-4.571500,4.958000
50%,5.953000,0.698000,0.256000,128.814000,23.618000,23.225000,104.422000,3.937000,3.602000,3.992000,3.304000,9.051000,29.408000,33.523000,49.273000,-1.397000,6.842000
75%,6.551000,0.759000,0.314000,345.625500,27.251500,27.836000,127.940500,8.530000,8.293000,8.337500,7.708500,23.325000,40.247500,41.894500,68.989000,2.584500,10.150000
max,7.889000,0.884000,0.552000,993.681000,56.417000,58.697000,918.961000,48.744000,42.502000,84.109000,64.411000,258.497000,71.975000,60.267000,212.388000,45.462000,35.300000